body{
    margin: 0;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: url(images/bg.png) no-repeat center center/cover ;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    background-color: rgba(239, 67, 113, 0.442);
    backdrop-filter: blur(2px);
    padding: 28px;
    border-radius: 7px;
    box-shadow: 0 0 20px 11px  rgba(132, 43, 66, 0.87);;
    width: 90%;
    margin: 10px;
    max-width: 450px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.heading{
    font-size: 40px;
    color: rgb(131, 220, 242);
    font-weight: 1000;
}

.input{
    height: 53px;
    width: 300px;
    background-color: rgba(98, 198, 223, 0.625);
    border-color: rgba(208, 20, 95, 0.771);
    font-size: 19px;
    font-weight: 560;
    padding: 0 42px;
    border-radius: 5px;
}

.meaning-container{
    display: none;
    font-size: 18.5px;
    font-weight: 550;
}